@model OnlineTicariOtomasyon.Models.Classes.Category
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Kategori Güncelle</h2>
<br />

@using (Html.BeginForm("Update", "Category", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.CategoryId)
    <div class="form-group">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.CheckBoxFor(x => x.IsActive)
        @Html.LabelFor(x => x.IsActive)
    </div>
    <button class="btn btn-warning">Kaydet</button>
}