@model OnlineTicariOtomasyon.Models.Classes.Product
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Yeni Ürün</h2>
<br />

<form class="form-group" method="post">
    @Html.LabelFor(x => x.Name)
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Brand)
    @Html.TextBoxFor(x => x.Brand, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Stock)
    @Html.TextBoxFor(x => x.Stock, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.PurchasePrice)
    @Html.TextBoxFor(x => x.PurchasePrice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.SalePrice)
    @Html.TextBoxFor(x => x.SalePrice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Category)
    @Html.DropDownListFor(x=>x.CategoryId,(List<SelectListItem>)ViewBag.categories,new { @class="form-control"})
    <br />
    @Html.LabelFor(x => x.PhotoPath)
    @Html.TextBoxFor(x => x.PhotoPath, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>


