@model OnlineTicariOtomasyon.Models.Classes.Customer
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Müşteri Güncelle</h2>
<br />

@using (Html.BeginForm("Update", "Customer", FormMethod.Post))
{
    @Html.HiddenFor(x => x.CustomerId)
    <div class="form-group">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Surname)
        @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Phone)
        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Mail)
        @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Address)
        @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.CheckBoxFor(x => x.IsActive)
        @Html.LabelFor(x => x.IsActive)
    </div>
    <button class="btn btn-warning">Kaydet</button>
}