@using OnlineTicariOtomasyon.Models.Classes
@model List<Order>
@{
    ViewBag.Title = "EmployeeOrders";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Personel Satış Detayı</h2>
<br />

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Personel : @(ViewBag.employee) </li>
</ol>

<table id="table_employeeOrders" class="table table-bordered table-hover" style="margin-top:16px; margin-left:16px; margin-right:16px">
    <thead>
        <tr>
            @*<th class="col-lg-1">Id</th>*@
            <th>Product</th>
            <th>Customer</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Total</th>
            <th>Date</th>
            <th>Print</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var o in Model)
        {
            <tr>
                @*<td>@o.OrderId</td>*@
                <td>@o.Product.Name</td>
                <td>@o.Customer.Name  @o.Customer.Surname</td>
                <td>@o.Amount</td>
                <td>@o.Price</td>
                <td>@o.Total</td>
                <td>@o.Date.ToShortDateString()</td>
                <td><a href="#" class="btn btn-primary">Yazdır</a></td>
            </tr>
        }

    </tbody>
</table>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>


<script>

    $('#table_employeeOrders').dataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
        }});

</script>