@model OnlineTicariOtomasyon.Models.ViewModels.InvoiceVM
@{
    ViewBag.Title = "Dynamic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />

<div class="panel panel-default">

    <div class="panel-heading">

        <div class="row">

            <h2 class="panel-title pull-left" style="margin-left:10px;">

                <strong>Fatura & Kalem İşlemleri</strong>

            </h2>

            <button style="margin-right:10px" class="btn btn-primary pull-right" onclick="addNewOrder()">Fatura Girişi</button>

        </div>

    </div>



    @*Receive All Database Data From Controller And Display Those Data In Client Side*@



    @if (Model.Invoices.Count() != 0)

    {

        foreach (var item in Model.Invoices)

        {

            <div class="panel-body">

                <table class="table table-striped table-responsive">

                    <tbody>

                        <tr>

                            <td>Seri - Sıra No Name : @item.SerialNumber-@item.RowNumber </td>
                            <td>Tarih : @item.Date.ToString("dd/MM/yyyy") </td>
                            <td>Vergi Dairesi : @item.TaxAdmin </td>
                            <td>Teslim Eden : @item.Submitter </td>
                            <td>Teslim Alan : @item.Receiver </td>


                        </tr>
                        <tr>

                            <td colspan="5">

                                <table class="table table-bordered">

                                    <tbody>

                                        <tr>

                                            <th>Açıklama</th>

                                            <th>Miktar</th>

                                            <th>Birim Fiyat</th>
                                            <th>Tutar</th>


                                        </tr>

                                        @{

                                            var totalBill = 0;

                                        }

                                        @foreach (var order in item.InvoiceRows)

                                        {

                                            <tr>

                                                <td>@order.Description</td>

                                                <td>@order.Amount</td>

                                                <td>@order.UnitPrice</td>
                                                <td>@order.Total</td>


                                            </tr>

                                            totalBill = totalBill + @Convert.ToInt32(order.Total);

                                        }

                                    </tbody>

                                </table>

                                <span class="pull-right" style="margin-right:100px;"><strong>Fatura Toplam Tutar :  </strong> @totalBill</span>

                            </td>

                        </tr>


                    </tbody>

                </table>

            </div>

        }

    }

    else

    {

        <div class="panel-body">

            <h3 style="color:red;">Empty!</h3>

        </div>



    }

</div>