@using OnlineTicariOtomasyon.Models.Classes
@model List<Invoice>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<a href="/Invoice/Add" class="btn btn-primary" style="margin-left:16px;margin-top:16px">Yeni Fatura</a>

<table class="table  table-hover" style="margin-top:16px; margin-left:16px; margin-right:16px">
    <thead>
        <tr>
            @*<th class="col-lg-1">Id</th>*@
            <th>Serial Number</th>
            <th>Tax Admin</th>
            <th>Date</th>
            <th>Hour</th>
            <th>Total</th>
            <th class="col-lg-2">New Invoice Row</th>
            <th class="col-lg-1">Detail</th>
            <th class="col-lg-1">Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
        <tr>
            @*<td>@i.InvoiceId</td>*@
            <td>@i.SerialNumber @i.RowNumber</td>
            <td>@i.TaxAdmin</td>
            <td>@i.Date.ToShortDateString()</td>
            <td>@i.Time</td>
            <td>@i.Total ₺</td>
            <td><a data-toggle="modal" data-target="#ModalNewInvoiceRow" class="btn btn-secondary" style="color:white">Yeni Kalem</a></td> @*href="/Invoice/AddRow/@i.InvoiceId"*@
            <td><a href="/Invoice/Detail/@i.InvoiceId" class="btn btn-info">Detail</a></td>
            <td><a href="/Invoice/Update/@i.InvoiceId" class="btn btn-warning">Güncelle</a></td>
        </tr>
        }

    </tbody>
</table>

<div class="modal" id="ModalNewInvoiceRow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="display:flex;justify-content:center">
                <h2 class="modal-title" > Yeni Kalem Girişi</h2>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
